<html>
   <head>
     <style>
       table {
         width: 100%;
         border-collapse: collapse;
         font-family: Arial, sans-serif;
         font-size: 14px;
       }
       th, td {
         border: 1px solid #dddddd;
        text-align: left;
         padding: 8px;
       }
       th {
         background-color: #f2f2f2;
       }
      tr:nth-child(even) {
         background-color: #f9f9f9;
       }
     </style>
  </head>
  <body>
    <p>Time: {{ datetime_output.stdout  | default('N/A') }} </p>
    <p><strong>Database hosts monitoring status:</strong></p>
    <p><strong>Logic Monitore alerts </strong></p>
    <p><strong>DR PE Database Restore</strong></p>
  {% if restore_logs is defined and restore_logs | length > 0 %}
    {% for entry in restore_logs %}
      <div>
        <p>Host: <strong>{{ entry.host }}</strong></p>
        <p>Status: 
          {% if entry.logs_status == 'ok' %}
            <span style="color: green;">{{ entry.logs_status }}</span>
          {% elif entry.logs_status == 'not ok' %}
            <span style="color: red;">{{ entry.logs_status }}</span>
          {% else %}
            <span style="color: orange;">{{ entry.logs_status }}</span>
          {% endif %}
        </p>
        <p><strong>Logs:</strong></p>
        <pre style="background-color: #f4f4f4; padding: 10px; border-radius: 5px;">
        {% for line in entry.logs %}
        {{ line }}
        {% endfor %}
  {% else %}
    <p>No restore_logs content available.</p>
  {% endif %}
 {% if all_alerts is defined and all_alerts | length > 0 %}
     <p>all alerts</p>
      <table>
        <thead>
        <p>Total Alerts: {{ all_alerts | length | default('N/A') }}</p> <!-- Displays the total count -->
          <tr>
            <th>Index</th>
            <th>Date</th>
            <th>time</th>
            <th>Ask Comment</th>
            <th>Monitor Object Name</th>
            <th>Resource Template Name</th>
          </tr>
        </thead>
        <tbody>
          {% for item in all_alerts %}
          <tr>
            <td>{{ loop.index }}</td> <!-- Dynamic row number -->
            <td>
              {% if item.STD.startDateTime is defined and 'startDateTime' in item.STD %}
                {{ '%Y-%m-%d' | strftime(item.STD.startDateTime | int) }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% if item.STD.startDateTime is defined and 'startDateTime' in item.STD %}
                {{ '%H:%M:%S' | strftime(item.STD.startDateTime | int) }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>{{ item.askComment | default('N/A') }}</td>
            <td>{{ item.monitorObjectName | default('N/A') }}</td>
            <td>{{ item.resourceTemplateName | default('N/A') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No alerts available.</p>
    {% endif %}
    {% if relevant_alerts_ignore is defined and relevant_alerts_ignore | length > 0 %}
      <p>fileterd alerts</p>
      <table>
        <thead>
        <p>Total Alerts: {{ relevant_alerts_ignore | length }}</p> <!-- Displays the total count -->
          <tr>
            <th>Index</th>
            <th>Date</th>
            <th>time</th>
            <th>Ask Comment</th>
            <th>Monitor Object Name</th>
            <th>Resource Template Name</th>
          </tr>
        </thead>
        <tbody>
          {% for item in relevant_alerts_ignore %}
          <tr>
            <td>{{ loop.index }}</td> <!-- Dynamic row number -->
            <td>
              {% if item.STD.startDateTime is defined and 'startDateTime' in item.STD %}
                {{ '%Y-%m-%d' | strftime(item.STD.startDateTime | int) }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% if item.STD.startDateTime is defined and 'startDateTime' in item.STD %}
                {{ '%H:%M:%S' | strftime(item.STD.startDateTime | int) }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>{{ item.askComment | default('N/A') }}</td>
            <td>{{ item.monitorObjectName | default('N/A') }}</td>
            <td>{{ item.resourceTemplateName | default('N/A') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No filtered alerts available.</p>
    {% endif %}
  </body>
</html>